.hero{
    background-color: $VeryLightGray;

    .container{
        @include breakpoint-up(large){     
            display: flex; //flexbox parent
            align-items: center;
        }
    }

    &__image{
        // border: red 1px solid; //temporary border
        position: relative;
        background-image: url('./../../images/bg-intro-mobile.svg');
        background-size: cover; //covers entire div
        background-repeat: no-repeat;
        background-position: center center;
        min-height: 17.5rem;
        //280/16px=17.5rem, 280px height of bg-intro-mobile.svg 
        //16px base font

        @include breakpoint-up(large){
            //flex: 3; ratio how much space image will occupy,
            //compare with flex: 2; in the hero__text
            //image will occupy 3/5 and text 2/5 
            flex: 3;
            order: 2; //to place the image on the right in desktop view
            height: 41rem; //655/16px=41rem
            background-image: url('./../../images/bg-intro-desktop.svg');
            background-position: left center;
        }

        &::before{
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            background-image: url('./../../images/image-mockups.png');
            background-size: 93%;
            background-repeat: no-repeat;
            background-position: center bottom;
        }
    }
    &__text{
        text-align: center;

        @include breakpoint-up(large){
            flex: 2;
            order: 1; //to place the next on the left
            text-align: left;
        }

        h1{
            font-weight: 300;
            font-size: 2.31rem; //37/16px=2.31rem
            line-height: 1.15;
            color: $DarkBlue;
            margin-bottom: 1.5rem; //24/16px=1.5rem

            @include breakpoint-up(large){
                font-size: $font-xlg;
            }
        }

        p{
            line-height: 1.5;
            margin-bottom: 2.25rem; //36/16px=2.25rem

        }

    }
}